.container__small-card{
  margin-bottom: 15px;

  @media(min-width: 1000px) {
    width: 700px;
  }
}

.container__small-card:hover{
  transform: scale(1.04);
  cursor: pointer;
}

.container__small-card-content{
  display: flex;
  padding: 20px;
  box-sizing: border-box;
}

.small-card__photo > img {
  width: 200px;
  min-width: 200px;
  margin-right: 20px;
  border-radius: 5%;
}

.small-card__title {
  display: flex;
  padding-bottom: 15px;
}

.small-card__title > P {
  font-size: 22px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: left;
  font-weight: bold;
}

.small-card__description > P {
  font-size: 18px;
  font-weight: lighter;
  color: grey;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: justify;
  line-height: 140%;

}

.container__small-card__separator{
  margin-top: 10px;
}
