<div class="container__small-card" [routerLink]="['content', Id]">



  <div class="container__small-card-content">
    <div class="small-card__photo">
      <img
        src="{{ photoCover }}"
        alt=""
        srcset=""
      >
    </div>

    <div class="small-card__text">

      <div class="small-card__title">
        <P>{{ cardTitle }}</P>
      </div>

      <div class="small-card__description">
      <p>
            {{ cardDescription }}
      </p>
      </div>

    </div>

  </div>

  <div class="container__small-card__separator">
    <hr>
  </div>

</div>



