<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">

    <app-big-card
      Id="1"
      photoCover="../../../assets/materia1.jpg"
      cardTitle="WoMakersCode"
      cardDescription="Desde 2015, conectando mulheres à tecnologia e abrindo caminhos do primeiro código à liderança, promovendo a representação feminina em todas as áreas da inovação por meio de ações intencionais e oportunidades reais."
      >
    </app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card
      Id="2"
      cardTitle="Generation Brasil"
      cardDescription="A Generation é uma rede global sem fins lucrativos que apoia as pessoas a alcançarem mobilidade económica e uma vida melhor."
      photoCover="../../../assets/materia2.png"
    >
    </app-small-card>

    <app-small-card
      Id="3"
      cardTitle="{Reprograma}"
      cardDescription="Reduzindo a lacuna de gênero no setor de tecnologia por meio da educação"
      photoCover="../../../assets/materia3.jpg"
    >
    </app-small-card
    >

    <app-small-card
      Id="4"
      cardTitle="DIO"
      cardDescription="Domine as tecnologias utilizadas pelas empresas mais inovadoras do mundo"
      photoCover="../../../assets/materia4.jpg"
    >
    </app-small-card>

    <app-small-card
      Id="5"
      cardTitle="Decola Tech"
      cardDescription="Sua oportunidade de estágio em uma empresa que faz a tecnologia acontecer"
      photoCover="../../../assets/materia5.jpg"
    >
    </app-small-card>
  </div>
</div>
